* {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url(bg.jpg);
    background-size: cover;
}

.container {
    text-align: center;
    margin-top: 450px;
}

.btn {
    border: 3px solid #a881af;
    border-radius: 25px;
    background: none;
    padding: 10px 30px;
    font-size: 45px;
    font-weight: 700;
    cursor: pointer;
    margin: 20px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    box-shadow: 1px 1px 20px #FFC0CB, 1px 1px 40px #FFC0CB;
    animation: anime 1s linear infinite;
}

.btn {
    color: pink;
}

.btn:hover {
    color: #e75480;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #ffd1dc;
    z-index: -1;
    transition: 0.8s;
}

.btn1::before {
    top: 0;
    border-radius: 0 0 50% 50%;
}

.btn1:hover::before {
    height: 180%;
}

.btn2::before {
    bottom: 0;
    border-radius: 50% 50% 0 0;
}

.btn2:hover::before {
    height: 180%;
}

.btn3::before {
    top: 0;
    border-radius: 0 0 50% 50%;
}

.btn3:hover::before {
    height: 180%;
}

.btn:nth-child(1) {
    animation-delay: 0.2s;
}

.btn:nth-child(2) {
    animation-delay: 0.4s;
}

@keyframes anime {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}